.card {
    --border-radius: 5px;
    border: 1px solid black;
    width: 370px;
}

.content {
    background-color: #193549;
    --color: #CCCCCC;
    text-align: center;
    font-family: "Courier New", serif;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    padding: 2%;
    min-height: 50%;
}

.title {
    --color: #FFC600;
    font-size: 20px;
}

.header {
    background-color: #142C3E;
    text-align: center;
    border-bottom: 1px solid #FFC600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}