.statusContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    min-width: 340px;
    margin: 3%;
}

.statusContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 0.5em;
}

.statusContainer span p {
    width: 100%;
    min-width: 200px;
    margin-top: 3%;
}

