.modal {
    margin: auto;
    background-color: transparent;
    border-radius: 5px;
}

.modal::part(backdrop) {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.header {
    color: #FFC600;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFC600;
    background: #142C3E;
}

.body {
    font-family: "Courier New", serif;
    display: flex;
    justify-content: center;
    background: #193549;
    font-size: 1.5em;
    height: 100%
}

ion-modal {
    --border-radius: 5px;
    background: #193549;
    color: #CCCCCC;
    border: 1px solid black;
    box-shadow: 0 0 20px 2000px rgba(0, 0, 0, 0.7);
    --max-height: 40%;
    --max-width: 40%;
    --min-width: 360px;
}

.buttonContainer {
    margin: 0 10px 10px 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #142C3E;
    height: 20%;
}